# MkDocs build output
site/

# Python virtual environments
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Test/cache tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
